
# Shopify credentials
SHOPIFY_API_KEY=""
SHOPIFY_API_SECRET=""
SCOPES=""
SHOPIFY_API_VERSION=""
SHOPIFY_APP_URL=""
SHOPIFY_APP_NAME=""

# MySQL connection
DATABASE_URL=""
MYSQL_HOST=""
MYSQL_PORT=""
MYSQL_USER=""
MYSQL_PASSWORD=""
MYSQL_DATABASE=""
VITE_BACKEND_API_URL="" 


# Frontend port
FRONTEND_PORT=3000
PORT=3000
HOST="0.0.0.0"
NODE_ENV="production"
